<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>PLANPAL</ion-title>
    </ion-toolbar>
    <ion-buttons class="ion-justify-content-center">
      <ion-button routerLink="/home" routerDirection="root">Home</ion-button>
      <ion-button routerLink="/events" routerDirection="forward">Events</ion-button>
      <ion-button routerLink="/favourites" routerDirection="forward">Favourites</ion-button>
      <ion-button routerLink="/suggested" routerDirection="forward">Suggested</ion-button>
    </ion-buttons>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
