<ion-content class="ion-padding">
  <div class="search-box">
    <ion-card class="search-card">
      <ion-card-header>
        <ion-card-title>Find Events</ion-card-title>
      </ion-card-header>
      
      <!--Manual location search-->
      <ion-card-content>
        <ion-item>
          <ion-input
            placeholder="Where to?"
            [(ngModel)]="manualLocation"
            clearInput
          ></ion-input>
        </ion-item>

        <!-- Buttons to filter by genre -->
        <ion-button (click)="enableGenreFilter()">
          Filter by Genre
        </ion-button>
        
        <ion-list *ngIf="showGenreFilter">
          <ion-item>
            <ion-label>Genre</ion-label>
            <ion-select [(ngModel)]="selectedGenre" (ionChange)="getEventsByGenre()">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option value="rock">Rock</ion-select-option>
              <ion-select-option value="pop">Pop</ion-select-option>
              <ion-select-option value="comedy">Comedy</ion-select-option>
              <ion-select-option value="classical">Classical</ion-select-option>
              <ion-select-option value="sports">Sports</ion-select-option>
              <ion-select-option value="theatre">Theatre</ion-select-option>
              <ion-select-option value="hip-hop/rap">Hip-Hop/Rap</ion-select-option>
              <ion-select-option value="festivals">Festivals</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        

        <!-- Buttons to search events and to enable gps search-->
        <ion-button expand="block" (click)="goToEvents()">Search Events</ion-button>
        <ion-button expand="block" fill="outline" (click)="getLocation()">Use My Location</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
